{% extends 'blog/base.html' %}
{% block content %}
{% load crispy_forms_tags %}


<div class="border p-4 mb-5 ">
        <legend class="border-bottom pb-1 mb-3 ">Sign up</legend>
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <input class="btn btn-secondary mt-4" type="submit" value="register">
    </form>
    <div class="border-top mt-4 pt-2">
        <small>If you have account <a href="{% url 'login' %}">Sign in</a></small>

    </div>
</div>

{% endblock content %}