{% extends 'blog/base.html' %}
{% block content %}

<h3 class="border-bottom">About us</h3> 
<p class=" mt-5 mb-5">Paymob is an infrastructure technology enabler providing payment solutions to empower digital financial service providers across Africa and the Middle East through innovative mobile wallet technology that gives the institute’s clients access to finance and digital payments. Paymob aims to contribute to the financial inclusion movement, while targeting economic growth by implementing solutions that support a cashless society ecosystem.</p>

{% endblock content %}