{% extends 'blog/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

    <div class="border p-3 mb-3">
        <img class "img-fluid rounded-circle border m-2" width="70px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSk_D0cVIucjIvQ_Iz5cQpRqL5l_omwNyeuetS6E-Ih88_7ZJrgNw&s" alt="profile picture">
        <span class="color-Secondary">Posted at {{post.post_date | date:'d-m-Y'}}</span>
        <h3 class="color-Secondary">{{post.title}}</h3>
        <p>{{post.content}}</p>
    </div>


<h2 class="border-bottom mt-5">Comments ({{comments.count}})</h2>

    {% for comment in comments %}

    <ul class="p-3 comment">
        <h6 class="border-bottom p-2">({{comment.name}}) <span class="text-secondary">{{comment.comment_date|date:'d-m-Y'}}</span></h6>
        {{comment.body}}

    </ul>

    {% empty %}
    <h6 class="text-center p-4 comment">No Comments</h6>
    {% endfor %}

    <h3 class="border-bottom pb-3 mb-3 mt-5">Add new comment</h3>

    <div class="border p-4 mb-5 mt-4">
        <form method="POST">
            {% csrf_token %}
            {{comment_form|crispy}}
            <input class="btn btn-secondary " type="submit" value="add comment">
        </form>
    </div>

{% endblock content %}